includes:
- vendor/phpstan/phpstan-phpunit/extension.neon
- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
    - '#Parameter \#1 \$fp of function fstat expects resource, resource\|false given.#'
    reportUnmatchedIgnoredErrors: true